
body {
    
     @font-face {
    font-family:CormorantGaramond-Light;
    src: url("fonts/CormorantGaramond-Light.otf") format("opentype");
                }
    color: #4E4747;
    overflow: scroll;
}
@media (min-width: 1200px) {
    
    .container.custom-container {
    padding: 0 50px;
    max-width: 1000px;
    margin-top: 60px;
    max-height: 1080px; 
    min-height: 980px;  
    }
    
    .row.custom-row {
    margin-left: 120px;
    max-width: 600px;
    }
    
    .row.about-row {
    margin-bottom:20px;
    }
    
    .col-centered{
    float: none;
    margin: 0 auto;
}
    
    .title { 
    font-weight: 100; 
    font-size: 30px;   
    @font-face {
    font-family:CormorantGaramond-Light;
    src: url("fonts/CormorantGaramond-Light.otf") format("opentype");
                }
    color: #000000;
    }

}

/*mobile friendly*/
@media screen and (min-width:641px) and (max-width:1199px) {
     .container.custom-container {
         padding: 0 30px;
        max-width: 7800px;
        margin-top: 40px;
        max-height: 2000px; 
        min-height: 980px;  
    }
    
    .col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}
    
    .title { 
    font-weight: 5; 
    font-size: 22px;   
    @font-face {
    font-family:CormorantGaramond-Light;
    src: url("fonts/CormorantGaramond-Light.otf") format("opentype");
                }
    color: #000000;
    }

    
}

@media screen and (min-width:320px) and (max-width:640px) {
     .container.custom-container {
         padding: 0 30px;
        max-width: 420px;
        margin-top: 40px;
        max-height: 5000px; 
        min-height: 980px;  
    }
    
    .col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}
    
     .title { 
    font-weight: 5; 
    font-size: 22px;   
    @font-face {
    font-family:CormorantGaramond-Light;
    src: url("fonts/CormorantGaramond-Light.otf") format("opentype");
                }
    color: #000000;
    }
    
}

    
::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}
    
    .border-style{
        
        border-style:solid;
        border-width: 1px;
        border-color: #c7c7c7;
    }

/*
 * A better looking default horizontal rule
 */

.title { 
    font-weight: 100; 
    font-size: 30px;   
    @font-face {
    font-family:CormorantGaramond-Light;
    src: url("fonts/CormorantGaramond-Light.otf") format("opentype");
                }
    color: #000000;
    }

.col-centered{
    float: none;
    margin: 0 auto;
}

.top-buffer { margin-top:40px; }

.top-buffer-contact { margin-top:10px; }

.nav-buffer {margin-top: 40px;}

 hr {
    display: block;
    height: 1px;
    border: 0;
    color: grey;
    align-content: center;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center;
}



.nav-pills > li {
     float:none;
     margin:0 auto;
     display: inline-block;
    
}

.nav-pills .active.nav-link { background-color:#fff; }
.nav-pills > li > a {
    background-color: transparent;
    border-color: transparent;
    z-index: 1;
    color: grey;
    position: relative;
    
}

.nav-pills > li > a:hover {
    background-color: transparent;
    color: #A90533;

    
    
}


.nav-item{ 
    font-weight: 300; 
    font-size: 18px;   
    @font-face {
    font-family:CormorantGaramond-Light;
    src: url("fonts/CormorantGaramond-Light.otf") format("opentype");
                }
    
}

.land-image {
    background-repeat: no-repeat;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    margin-right: 20px;
    float: left;
}

.items{
	
    font-weight: 300; 
	font-size: 16px;   
    @font-face {
    font-family:CormorantGaramond-Light;
    src: url("fonts/CormorantGaramond-Light.otf") format("opentype");
                }
    color: #000000;
	text-align:justify;
}

.highlight{
    font-weight: 400; 
	font-size: 16px;   
    @font-face {
    font-family:CormorantGaramond-Light;
    src: url("C:/Users/Ajinkya/Desktop/kaggle kernels/website/theme/assets/fonts/font/CormorantGaramond-Light.otf") format("opentype");
                }
    color: #0077be;    
}

.about-me{
    font-weight: 100; 
    font-size: 20px;   
    @font-face {
    font-family:CormorantGaramond-Light;
    src: url("fonts/CormorantGaramond-Light.otf") format("opentype");
                }
    text-align: center;
    color: #4E4747;
    
}

.bottom{
	
	margin-bottom:30px; 
}

.top-footer{margin-top: 20px;}
.top{
	
	margin-top:80px;
    margin-bottom: 10px;
}

.verticalLine {
  border-right: 1px dashed #333;
}

.contact-top{
	
	font-size: 27px;   
    @font-face {
    font-family:CormorantGaramond-Light;
    src: url("fonts/CormorantGaramond-Light.otf") format("opentype");
    }
	color:grey;
}

.work-gap{
    
background-color: #ffffff;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-top: 10px;
	margin: 10px 0px;
	border: 1px solid #e6e6e6;
    border-radius: 6px;

}

.work-items{
	
    font-weight: 500; 
	font-size: 16px;   
    @font-face {
    font-family:CormorantGaramond-Light;
    src: url("C:/Users/Ajinkya/Desktop/kaggle kernels/website/theme/assets/fonts/font/CormorantGaramond-Light.otf") format("opentype");
                }
    color: #0077be;
	text-align:justify;
}

.work-language{
	
    font-weight: 300; 
	font-size: 15px;   
    @font-face {
    font-family:CormorantGaramond-Light;
    src: url("C:/Users/Ajinkya/Desktop/kaggle kernels/website/theme/assets/fonts/font/CormorantGaramond-Light.otf") format("opentype");
                }
    color: #4E4747;
	text-align:justify;
}



#footer{
    display: block;
    font-size: 0.75em;
    bottom:0;
    width: 100%;
    height: 30px;
    position: fixed;
}

.red{
    color:red;
    }
.form-area
{
    background-color: #ffffff;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid #e6e6e6;
    border-radius: 6px;
	}


.center_div {
  position: absolute;
  padding-top: 10px;
  left: 0;
  right: 0;
  margin: auto;  
}
