@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre');

body {

    background-color: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;

}

.title-font-intro{

  font-family: 'Pacifico', cursive;
  color: #dbdbdb;
  font size : 20px;

}

.realign-left {

  padding-left:25px;
  padding-right:25px;

}

.realign-right {

  padding-right: 25px;
  padding-left:25px;
}

.title-header {
  color: #ffffff;
	font-size: 4.2vmax;
	font-variant: normal;
	font-weight: 500;
    height:100;
    justify-content: left;
    align-items: justify;

}

.content-header {

	font-size: 1.25vmax;
	font-variant: normal;
	font-weight: 350;

}


.image-width {
    height: auto;
    width:100%
}

.image-corner {
    border-color: #0d0d0d;
}

.work-gap{

	padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
	margin: 10px 0px;
	border: 1px solid #D3D3D3;
}

.work-items{

    font-weight: 300;
	font-size: 13px;
	text-align:justify;
    transition: all .5s ease;
}

.work-language{

    font-weight: 100;
	font-size: 12px;
	text-align:justify;
}

.col-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.footer {
  padding: 5px 0;
}


.footer-font{

    font-size: 1.1vmax;

}

.footer a {
  color: #ffffff;
  font-size: 20px;
  padding: 8px;
  transition: all .5s ease;
}
.footer a:hover {
  color:cornflowerblue;
}

.map-text {

    font-size: 12px;

}
