@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua');

body {

    background-color: #F1F3F4;
    color: #44494B;
    font-family: 'Inknut Antiqua', serif;
    
}


.title-header {
    
	font-size: 44px;
	font-variant: normal;
	font-weight: 500;
    height:100px;
    justify-content: center;
    align-items: center;
    
}
